* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #393e46;
}


/* THIS IS FOR THE NAV BAR */
nav {
  width: 100%;
  background: #222831;
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

ul li:hover {
  background: #0092ca;
}

ul li a {
  color: #eeeeee;
  text-decoration: none;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #222831;
  text-align: right;
  box-sizing: border-box;
  color: #eeeeee;
  font-size: 30px;
  display: none;
}

/* THIS IS FOR THE INTRO SECTION */
.intro {
  color: #eeeeee;
  margin: auto;
  width: 50%;
  padding-top: 15%;
  padding-bottom: 15%;
  font-size: 2em;
}

/* THIS IS THE BREAK UP DIV */
.break {
  height: 100px;
  background-color: #0092ca;
  width: 100%;
  position: relative;
}

.break-line {
  height: 10px;
  background-color: #222831;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* THIS IS THE ABOUT SECTION THAT DID NOT WORK LETS TRY AGAIN*/
.about {
  height: auto;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: flex-end;
}

.self-photo {
  border-radius: 50%;
}

.about img {
  float: left;
  height: 300px;
  margin: auto;
}

.about h1 {
  text-align: center;
}

.about p {
  text-align: center
}

.about-content {
  border-bottom: 400px solid #393e46;
  border-left: 75px solid rgba(0, 0, 0, 0);
  height: 0;
  width: 50%;
  color: #eeeeee;
}

/* THIS IS THE PORTFOLIO STUFF */
.portfolio-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: #eeeeee;
}

.portfolio-stack {
  left: 50%;
  margin: 0 auto;

  width: 50%;
  height: 150px;
  background-color: #eeeeee;
  box-shadow: 0 0 5px 5px #0092ca;
  margin-bottom: 100px;
}

.portfolio-stack i {
  font-size: 135px;
  padding-left: 7%;
}

.portfolio-1 {
  background-color: #eeeeee;
  height: 400px;
  width: 75%;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px 10px #0092ca;
  text-align: center;
  display: flex;
}

.gif {
  height: 400px;
  width: 550px;
}

.portfolio-left {
  border-style: hidden dashed hidden hidden;
  border-width: 10px;
  border-color: black;
  border-spacing: 5px;
  width: 40%;
  float:left;
  background: #eeeeee;
  height: 400px;
  margin: auto;
  order: 1;
}

.portfolio-right {
  float: right;
  width: 60%;
  height: 400px;
  background: #eeeeee;
  order: 2;
}

.portfolio-right p {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.portfolio-2 {
  background-color: #eeeeee;
  height: 400px;
  width: 75%;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px 10px #0092ca;
  text-align: center;
  display: flex;
}

.portfolio-beef-pic {
  float: right;
  border-style: hidden hidden hidden dashed;
  border-width: 10px;
  border-color: black;
  border-spacing: 5px;
  width: 40%;
  height: 400px;
  background: #eeeeee;
  order: 2;
}

.portfolio-beef-content {
  width: 60%;
  float:left;
  background: #eeeeee;
  height: 400px;
  margin: auto;
  order: 1;
}

.portfolio-beef-content p {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

@media(max-width: 768px) {

  /* THIS IS FOR THE MOBILE NAV BAR */
  .toggle {
    display: block;
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }
}
