* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #393e46;
}


/* THIS IS FOR THE NAV BAR */
nav {
  width: 100%;
  background: #222831;
  font-size: 2em;
}

.nav-bar {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.nav-bar ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.nav-bar ul li:hover {
  background: #0092ca;
}

.nav-bar ul li a {
  color: #eeeeee;
  text-decoration: none;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #222831;
  text-align: right;
  box-sizing: border-box;
  color: #eeeeee;
  font-size: 30px;
  display: none;
}

/* THIS IS FOR THE INTRO SECTION */
.intro {

  height: 1500px;
  color: #eeeeee;
  margin: 0 auto;
  width: 100%;
  font-size: 2em;
  text-align: center;
  /* padding-top: 10%; */
}

.wavy {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 15%;
  top: 0;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.1));
}

.wavy span {
  position: relative;
  display: inline-block;
  color: #fafafa;
  font-size: 3em;
  /* text-transform: uppercase; */
  animation: animate 3s ease-in-out infinite;
  animation-iteration-count: infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-20px);
  }

  40%, 100% {
    transform: translateY(0px);
  }
}

.sticky-hr {
  padding-bottom: 200px;
  border-style: solid hidden hidden hidden;
  border-color: #eeeeee;
  border-width: 5px;
}

/* THIS IS THE BREAK UP DIV */
/* .break {
  height: 100px;
  background-color: #0092ca;
  width: 100%;
  position: relative;
}

.break-line {
  height: 10px;
  background-color: #222831;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* THIS IS THE ABOUT SECTION THAT DID NOT WORK LETS TRY AGAIN*/
.about-title {
  text-align: center;
  color: #eeeeee;
  font-size: 3em;
  font-weight: 700;
  padding-bottom: 50px;
}
.about {
  height: auto;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: flex-end;
}

.self-photo {
  border-radius: 50%;
}

.about img {
  float: left;
  height: 400px;
  margin: auto;
}

.about h1 {
  text-align: center;
  font-size: 150px;
}

.about p {
  text-align: center;
  font-size: 1.5em;
  padding: 15% 2% 5% 2%;
}

.about-border {
    box-shadow: 0 0 5px 5px #0092ca;
}
.about-content {
  border-bottom: 700px solid #393e46;
  border-left: 75px solid rgba(0, 0, 0, 0);
  height: 0;
  width: 50%;
  color: #eeeeee;
}

/* THIS IS THE PORTFOLIO STUFF */
.portfolio-title {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  color: #eeeeee;
}

.portfolio-stack {
  left: 50%;
  margin: 0 auto;

  width: 50%;
  height: 150px;
  background-color: #eeeeee;
  box-shadow: 0 0 5px 5px #0092ca;
  margin-bottom: 100px;
}

.portfolio-stack i {
  font-size: 135px;
  padding-left: 7%;
}

.portfolio-1 {
  background-color: #eeeeee;
  height: 400px;
  width: 75%;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px 10px #0092ca;
  text-align: center;
  display: flex;
}

.gif {
  height: 400px;
  width: 550px;
}

.portfolio-left {
  border-style: hidden dashed hidden hidden;
  border-width: 10px;
  border-color: black;
  border-spacing: 5px;
  width: 40%;
  float:left;
  background: #eeeeee;
  height: 400px;
  margin: auto;
  order: 1;
}

.portfolio-right {
  float: right;
  width: 60%;
  height: 400px;
  background: #eeeeee;
  order: 2;
}

.portfolio-right p {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.portfolio-2 {
  background-color: #eeeeee;
  height: 400px;
  width: 75%;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px 10px #0092ca;
  text-align: center;
  display: flex;
}

.portfolio-beef-pic {
  float: right;
  border-style: hidden hidden hidden dashed;
  border-width: 10px;
  border-color: black;
  border-spacing: 5px;
  width: 40%;
  height: 400px;
  background: #eeeeee;
  order: 2;
}

.portfolio-beef-content {
  width: 60%;
  float:left;
  background: #eeeeee;
  height: 400px;
  margin: auto;
  order: 1;
}

.portfolio-beef-content p {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

/* THIS IS THE CONTACT ME STUFF */

.contact-me {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}

.links {
  width: 50%;
  float: left;
  margin-bottom: 190px;
  text-align: center;
  color: #eeeeee;
  border-right: dashed;
  border-width: 10px;
  border-color: #0092ca;
  margin-top: 20px;
  margin-bottom: 20px;
  order: 1
}

.links li {
  padding: 40px;
  font-size: 2em;
}

.links i {
  padding-right: 5%;
  font-size: 2em;
  color: #0092ca;
}

.contact-form {
  width: 50%;
  float: right;
  text-align: center;
  order: 2;
  font-size: 2em;
  color: #eeeeee;

}

.contact-bg {
  margin: 0 auto;
  height: 80%;
  width: 50%;
  background-color: #0092ca;
  padding-top: 5%;
}

/* THIS IS THE FOOTER */
.footer {
  margin-top: 20px;
  text-align: center;
  background-color: #393e46;
  padding: 2% 2%;
}

.footer-links {
  font-size: 3em;
  padding-bottom: 20px;
  color: #0092ca;
}

.footer-text {
  font-size: 1.5em;
  font-weight: 700;
  color: #eeeeee;
}


@media(max-width: 768px) {

  /* THIS IS FOR THE MOBILE NAV BAR */
  .toggle {
    display: block;
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }
}
